[submodule "images/enscan/src"]
	path = images/enscan/src
	url = https://github.com/wgpsec/ENScan_GO.git
[submodule "images/oneforall"]
	path = images/oneforall
	url = https://github.com/shmilylty/OneForAll.git
[submodule "images/masscan/src"]
	path = images/masscan/src
	url = https://github.com/robertdavidgraham/masscan.git
[submodule "images/chaos"]
	path = images/chaos
	url = https://github.com/projectdiscovery/chaos-client.git
[submodule "images/PackerFuzzer/src"]
	path = images/PackerFuzzer/src
	url = https://github.com/rtcatc/Packer-Fuzzer.git
