[submodule "images/oneforall"]
	path = images/oneforall
	url = https://github.com/shmilylty/OneForAll.git
[submodule "images/masscan/src"]
	path = images/masscan/src
	url = https://github.com/robertdavidgraham/masscan.git
[submodule "images/chaos"]
	path = images/chaos
	url = https://github.com/projectdiscovery/chaos-client.git
[submodule "images/packer_fuzzer/src"]
	path = images/packer_fuzzer/src
	url = https://github.com/rtcatc/Packer-Fuzzer.git
[submodule "images/enscan"]
	path = images/enscan
	url = https://github.com/wgpsec/ENScan_GO
